<% set_meta_tags site: "The Gazette",
reverse: true,
title: @dataset.dataset_name,
description: @dataset.description,
keywords: %w[traffic cameras iowa],
canonical: "",
og: {
  title: "Traffic citations in Iowa from 2010 to 2014",
  url: ""
}
%>

<%= render 'header' %>
<div id="content-box">
  <%= render 'embed' %>
  <p id="first-p" class="intro-text"><%= @dataset.description %></p>
  <div id="table-container">
    <% @dataset.filterable_columns.split(',').each do |filter|%>
    <%= render partial: 'dropdown', locals: {text: filter, query: @record.reorder(filter).uniq.pluck(filter), scope: filter} %>
  <% end %>
    
  <% if !@dataset.searchable_column.nil? %>
    <%= render partial: 'search', locals: {text: @dataset.searchable_column} %>
  <% end %>

    <table id="table" class="table">
      <thead>
        <tr>
        	<th><%= sortable "name | Offender" %></th>
          <th><%= sortable "city | Offender's address" %></th>
          <th><%= sortable "violationdate | Date" %></th>
          <th><%= sortable "citationtype | Citation" %></th>
          <th><%= sortable "intersectiondetails | Intersection" %></th>
          <th><%= sortable "speed | Speed" %></th>
        </tr>
      </thead>
      <tbody>
      	<% @record.paginate(:page => params[:page]).each do |record| %>
          <tr>
            <td data-title="Offender:"><%= record["name"] %></td>
            <td data-title="Offender's address:"><%= record["city"] %>, <%= record["state"] %></td>
            <td data-title="Date:"><%= record["violationdate"] %></td>
            <td data-title="Citation:"><%= record["citationtype"] %></td>
            <td data-title="Intersection:"><%= record["intersectiondetails"] %></td>
            <td class="number" data-title="Speed":><%= record["speed"] %></td>
          </tr>
      	<% end %>
    	</tbody>
    </table>

    <%= will_paginate @record_items %>
  </div>
<%= render 'footer' %>