<% set_meta_tags site: "The Gazette",
reverse: true,
title: @dataset.dataset_name,
description: @dataset.description,
keywords: %w[traffic cameras iowa],
canonical: "",
og: {
  title: "Traffic citations in Iowa from 2010 to 2014",
  url: ""
}
%>

<%= render 'header' %>
<div id="content-box">
  <p id="first-p" class="intro-text"><%= @dataset.description %></p>
  <div id="table-container">
    <%= render partial: 'dropdown', locals: {text: "Citations", query: @record.reorder(:citationtype).uniq.pluck(:citationtype), scope: :scope_one} %>
    <%= render partial: 'dropdown', locals: {text: "Intersections", query: @record.reorder(:intersection).uniq.pluck(:intersection), scope: :scope_two} %>
    <%= render partial: 'dropdown', locals: {text: "Cities", query: @record.reorder(:city).uniq.pluck(:city), scope: :scope_three} %>

    <table id="table" class="table">
      <thead>
        <tr>
        	<th><%= sortable "name | Name" %></th>
          <th><%= sortable "citationtype | Citation" %></th>
          <th><%= sortable "violationdate | Date" %></th>
          <th><%= sortable "intersectiondetails | Intersection" %></th>
          <th><%= sortable "speed | Speed" %></th>
          <th><%= sortable "city | City" %></th>
        </tr>
      </thead>
      <tbody>
      	<% @record.paginate(:page => params[:page]).each do |record| %>
          <tr>
            <td data-title="Name:"><%= record["name"] %></td>
            <td data-title="Citation:"><%= record["citationtype"] %></td>
            <td data-title="Date:"><%= record["violationdate"] %></td>
            <td data-title="Intersection:"><%= record["intersectiondetails"] %></td>
            <td class="number" data-title="Speed":><%= record["speed"] %></td>
            <td data-title="City:"><%= record["city"] %></td>
          </tr>
      	<% end %>
    	</tbody>
    </table>

    <%= will_paginate @record_items %>
  </div>
<%= render 'footer' %>