<% @record.columns.map(&:name).each do |column_name| %>
	<% if column_name != 'id' && column_name != 'created_at' && column_name != 'updated_at' %>

		<!-- Example of renaming a column -->
		<% if column_name == 'Column to rename' %>
			<% output = 'Renamed column | Original column name' %>
		<% else %>
			<% output = column_name %>
		<% end %>

		<% if type == 'th' %>
			<th><%= sortable output %></th>
		<% elsif type == 'td' %>

			<!-- Example of how to do numbers -->
			<% if column_name == 'Column with numbers' %>
				<td class="number" data-title="<%= output %>">$<%= number_with_delimiter(record[column_name], :delimiter => ',') %></td>
			<% else %>
				<td data-title="<%= output %>"><%= record[column_name] %></td>
			<% end %>

		<% end %>
	<%end %>
<% end %>