<!-- Table container -->
<div id="table-container">
  <% @dataset.filterable_columns.split(',').each do |filter|%>
    <%= render partial: 'dropdown', locals: {text: filter, query: @record.reorder(filter).uniq.pluck(filter), scope: filter} %>
  <% end %>
    
  <% if !@dataset.searchable_column.nil? %>
    <%= render partial: 'search', locals: {text: @dataset.searchable_column} %>
  <% end %>

  <table id="table" class="table">
    <thead>
      <tr>
        <%= render partial: 'datasets/show/' + @id + '/columnnames', locals: {type: "th"} %>
      </tr>
    </thead>
    <tbody>
      <% @record.paginate(:page => params[:page]).each do |record| %>
        <tr>
          <%= render partial: 'datasets/show/' + @id + '/columnnames', locals: {type: "td", record: record} %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @record_items %>
</div>