<% set_meta_tags site: "The Gazette",
reverse: true,
title: @dataset.dataset_name,
description: @dataset.description,
keywords: %w[salaries iowa 2016],
canonical: "",
og: {
  title: @dataset.dataset_name,
  url: "https://gadatabases.herokuapp.com/datasets/" + @dataset.id.to_s
}
%>

<%= render 'header' %>

<div id="content-box">
	<%= render 'embed' %>
  <p id="first-p" class="intro-text"><%= @dataset.description %></p>
  <%= render 'table' %>
</div>

<%= render 'footer' %>