<% excluded_columns = ['id', 'created_at', 'updated_at'] %>

<% @record.columns.map(&:name).each do |column_name| %>
	<% if !excluded_columns.include? column_name %>

		<!-- Renaming columns -->
		<% if column_name == 'Column to rename' %>
			<% output = column_name + ' | Renamed column' %>
		<% else %>
			<% output = column_name + ' | ' + column_name.capitalize %>
		<% end %>

		<% if type == 'th' %>
			<th><%= sortable output %></th>

		<% elsif type == 'td' %>
		
			<!-- Example of how to do numbers -->
			<% if column_name == 'salary' || column_name == 'travel' %>
				<td class="number" data-title="<%= output.split(" | ")[1] %>">
					$<%= number_with_delimiter(record[column_name], :delimiter => ',') %>
				</td>
			<% else %>
				<td data-title="<%= output.split(" | ")[1] %>">
					<%= record[column_name] %>
				</td>
			<% end %>

		<% end %>
	<%end %>
<% end %>