<% set_meta_tags site: "The Gazette",
reverse: true,
title: @dataset.dataset_name,
description: @dataset.description,
keywords: %w[salaries iowa 2014],
canonical: "",
og: {
  title: @dataset.dataset_name,
  url: ""
}
%>

<%= render 'header' %>
<!-- Content box-->
<div id="content-box">
  <p id="first-p" class="intro-text"><%= @dataset.description %></p>
  <div id="table-container">
    <%= render partial: 'dropdown', locals: {text: "Departments", query: @record.uniq.pluck(:department), scope: :scope_one} %>
    <%= render partial: 'dropdown', locals: {text: "Positions", query: @record.uniq.pluck(:position), scope: :scope_two} %>
    <%= render partial: 'dropdown', locals: {text: "Gender", query: @record.uniq.pluck(:gender), scope: :scope_three} %>

    <table id="table" class="table">
      <thead>
        <tr>
        	<th><%= sortable "Name" %></th>
          <th><%= sortable "Department" %></th>
          <th><%= sortable "Position" %></th>
          <th><%= sortable "Gender" %></th>
          <th><%= sortable "salary2014 | Salary" %></th>
          <th><%= sortable "Travelsubsistence | Travel" %></th>
        </tr>
      </thead>
      <tbody>
      	<% @record.paginate(:page => params[:page]).each do |record| %>
          <tr>
            <td data-title="Name:"><%= record["Name"] %></td>
            <td data-title="Department:"><%= record["Department"] %></td>
            <td data-title="Position:"><%= record["Position"] %></td>
            <td data-title="Gender:"><%= record["Gender"] %></td>
            <td class="number" data-title="Salary:">$<%= number_with_delimiter(record["salary2014"], :delimiter => ',') %></td>
            <td class="number" data-title="Travel subsistence:">$<%= number_with_delimiter(record["Travelsubsistence"], :delimiter => ',') %></td>
          </tr>
      	<% end %>
    	</tbody>
    </table>

    <%= will_paginate @record_items %>
  </div>
<%= render 'footer' %>